.appBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.appBar h1 {
  margin: 0;
  font-size: 24px;
}

.appBar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.appBar nav li {
  margin: 0 10px;
}

.appBar  a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
